<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:darkgray;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color:gainsboro;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
</style>

</head>
<body>

  <!-- NAV BAR -->
<div class="navbar">
  <a href="/">Home</a>
  <div class="subnav">
    <button class="subnavbtn">About <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="/">This project is for creating visualizations including a Python Flask–powered RESTful API, HTML/CSS, JavaScript, and a SQLite database. </a>
  


    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn"> Resources <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="https://www.kaggle.com/toddsteussie/nfl-play-statistics-secondary-datasets"> Kaggle Dataset 1</a>
      <a href="https://www.kaggle.com/toddsteussie/nfl-play-statistics-dataset-2004-to-present"> Kaggle Dataset 2</a>
      <a href="http://www.nflsavant.com/about.php">NFL Savant Dataset</a>

    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Visualizations <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="visualization1">Katie here</a>
      <a href="visualization2">Salary By Position Bubble Chart</a>
      <a href="visualization3">Filter Data Table</a>
      <!-- use route here not use filename.html file -->
      <a href="test"> Players Physical Attributes by Position</a>
      
   
    </div>
  </div>
  <!-- put a link to our github project here -->
  <!-- to open in a new tab use _blank -->
  <a href="https://github.com/paholland/Project_Visualizations" target="_blank">Contact Us</a>
</div>

<div style="padding:0 16px">

  <!-- --------------------------center this title -->
  <br>

  <br>
  <h1> WHERE NFL FOOTBALL PLAYERS ARE COMING FROM? </h1>
  <br>
 
  <section class="latest section">
    <div class="section-inner shadow-sm rounded">

        <div class="content">    
                               
            <div class="item featured text-center">
                
                <!-- <div class="featured-image has-ribbon"> -->
                    <a href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/launch-bootstrap-4-template-for-saas-businesses/" target="_blank">
                    <img class="img-fluid project-image rounded shadow-sm" src="../static/images/1.jpg" height= "650px" width= "1290"alt="FootbalPlayers" />
                    </a>
                   
                </div>
                
                <h3 class="title mb-3"><a href="link here" target="_blank"></a></h3>
                    
                <div class="desc text-left">                                    
                    <p>The National Football League (NFL) is home to some of the best athletes. What is even more astonishing is that their skill sets vary so much from player to player and position to position as well as their background and physical attributes. Football is a game that provides weekly entertainment for many Americans during the NFL season. Having all the athletes on the same field at the same time is exciting to watch. How breathtaking it is to cheer your favorite team to victory and there’s nothing like being at the game in person.</p>
                </div>     

 <!-- topic2
 <div class="desc col-md-8 col-12">
  <h3 class="title"><a href="linkhere" target="_blank">Title here</a></h3>
  <p class="mb-2">Description here... Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
  <p><a class="more-link" href="link to visuals here" target="_blank"><i class="fas fa-external-link-alt"></i>Read More</a></p> -->
<!-- </div>                       
</div> -->
<!-- topic3-->
<!-- <div class="item row">
<a class="col-md-4 col-12" href="link here" target="_blank">
<img class="img-fluid project-image rounded shadow-sm" src="../images/aFewPics.PNG" height= "160px" width= "250" alt="NFLPic"/>
</a> -->
<!-- <div class="desc col-md-8 col-12">
  <h3 class="title"><a href="link here" target="_blank">Title here</a></h3>
  <p class="mb-2">Description here...Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
  <p><a class="more-link" href="link here" target="_blank"><i class="fas fa-external-link-alt"></i>Read More</a></p>
</div>//desc                          
</div> -->


<!-- </div> -->

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

<!-- Our CSS -->
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>


<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<!-- D3 JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
<!-- Our JavaScript -->
<!-- <script type="text/javascript" src="static/js/config.js"></script> -->

<!-- <script src="{{ url_for('static', filename='logic4.js') }}"></script> -->
<script type="text/javascript" src="../static/js/logic4.js"></script>
<script type="text/javascript" src="../static/js/logic3.js"></script>
<script type="text/javascript" src="../static/js/logic1.js"></script>
<!-- <script type="text/javascript" src="../static/x.js"></script> -->




</body>
</html>