<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>NFL PLAYER STATISTICS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">NFL DATA SUMMARY
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>NFL PLAYER STATISTICS</h1>
      <p>PICK A PLAYER, TEAM OR POSITION!</p>
    </div>
    <div class="container">
      <div class="row margin-top-35">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="nameFull">Enter Full Name</label>
                        <input class="form-control" id="nameFull" type="text" placeholder="Gary Green">
                      </li>
                      <li class="filter list-group-item">
                        <label for="homeCity">Enter City</label>
                        <input class="form-control" id="homeCity" type="text" placeholder="Houston">
                      </li>
                      <li class="filter list-group-item">
                        <label for="homeState">Enter State</label>
                        <input class="form-control" id="homeState" type="text" placeholder="TX">
                      </li>
                      <li class="filter list-group-item">
                        <label for="position">Enter Position</label>
                        <input class="form-control" id="position" type="text" placeholder="QB">
                      </li>
                      <li class="filter list-group-item">
                        <label for="college">Enter College</label>
                        <input class="form-control" id="college" type="text" placeholder="USC">
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="nfl-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Latitude</th>
                  <th class="table-head">Longitude</th>
                  <th class="table-head">College</th>
                  <th class="table-head">Draft</th>
                  <th class="table-head">Draft Team</th>
                  <th class="table-head">Draft Trade Value</th>
                  <th class="table-head">Height</th>
                  <th class="table-head">City</th>
                  <th class="table-head">State</th>
                  <th class="table-head">Full Name</th>
                  <th class="table-head">Pick</th>
                  <th class="table-head">Player ID</th>
                  <th class="table-head">Position</th>
                  <th class="table-head">Round</th>
                  <th class="table-head">Team ID</th>
                  <th class="table-head">Weight</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="centre">NFL STATISTICS ©2019</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/js/logic3.js"></script>
 </body>

</html>
